<section class="page">
    <div class="container-md-fluid">
        <div class="row">
            <ol class="d-flex">
                <li><a class="arr" href="#">上一頁</a></li>
                <li><a class="num active" href="#">1</a></li>
                <li><a class="num" href="#">2</a></li>
                <li><a class="num" href="#">3</a></li>
                <li><a class="num" href="#">4</a></li>
                <li><a class="num" href="#">5</a></li>
                <li><a class="arr" href="#">下一頁</a></li>
            </ol>
        </div>
    </div>
</section>