
.container-md-fluid{
    max-width: 1320px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 auto;
}
.container-md-nav{
    max-width: 1320px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.container-qa{
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}
.container{
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}
.card{ 
    height: 100%;
}
.header{
     background: url('/assets/images/home-header.png')no-repeat center /cover;
     max-width: 100%;
     height: 768px;
     margin-right: auto;
     padding-top: 320px;
    .text{     
        text-align: right;
        margin-left: auto;
    }
    p{
        font-size: 2.25rem;
        color: $color-3;
    }
    h1{
      font-size: 64px;
    }
    a{      
        margin-left: auto;
        padding: 10px;
        color: #fff;
        background-color: $primary;
        font-size: 20px;
        display: inline-block;
    }   
}
.feature{
    background-color: #FBF2F2;
}
.jointn{ 
    background: url('/assets/images/index-bg.png')no-repeat center /cover;
    max-width: 100%;
    h2{
      color: #fff;
    }
    .glasses1{
        background: url('/assets/images/home-section4-1.png')no-repeat center /cover;
        max-width: 100%;
        height: 240px; 
    }
    .glasses2{
        background: url('/assets/images/home-section4-2.png')no-repeat center /cover;
        max-width: 100%;
        height: 240px; 
    }
    i{
        background-color: #fff;
    }
}
.list{
    .card{
        border: 1px solid #DEE2E6;
        border-radius: 4px 4px 0px 0px;
        box-shadow: 0px 2px 6px #00000029;
        time{
            font-size: 14px;
            color: #707070;
        }
    }
}
.input_all{
    background-color: #FBF2F2;
    .column{
        margin: 0 auto;
    }
    .form{
      flex-direction: column;
      label{
          color: #000;
          padding: 8px 0;             
      }
      input{
        border: 1px #000 solid;
      }
      input,textarea{
          background-color: transparent;
          resize:none;
          padding: 6px 12px;
          margin-bottom: 16px;
      }
      .check_btn{
          background-color: $primary;
          width: 416px;
          max-width: 100%;
          padding: 16px 0;
          border: 0px;
          margin: 0 auto;
          color: #fff;
          font-size: 16px;
        }
    }
}
.h5-title{
    font-size: 48px;
    font-weight: bold;
    color: #000;
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 32px;
}

.qa{
    .qa-sub{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    .qa-question{
        font-size: 20px;
        font-weight: bold;
        color: #000;
        margin-bottom: 8px;
    }
    .qa-answer{
        margin-bottom: 32px;   
    }
}
.store{
    a{
        color: #000;
    }
    p{
        display: inline-block;
    }
    .area{
        width: 304px;
        padding: 6px 0;
        border: 1px solid #CED4DA;
        margin-bottom: 40px;
        color: #495057;
    }
    .h3-title{
        border: 1px solid #00000020;
        padding: 8px 24px;
        text-align: left;
        color: #000;
    }
    .main-info{
        font-size: 20px;
        color: #000;
        border: 1px solid #00000020;
        padding: 16px 24px;
        li{
            display: flex;
            align-items: center;
        } 
    }
    .material-symbols-outlined{
        font-size: 24px;
        vertical-align: top; 
        padding: 5px;
    }
    .btn-more{
        background-color: #000;
        color: #fff;
        padding: 16px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 24px;
    }  
}
.s-map{
    .d-flex{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        .column{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;    
        }
        .infopic{
            img{
                width: 550px;
                height: 224px;
            }
        }
        .material-symbols-outlined{
            font-size: 20px;
        }
        .main-info{
            display: flex;
            flex-direction: column;
            gap: 8px;
              
        }
    }    
}
.nav-poudct{
    .container{
        background-color: #fff;
        a{ 
            font-size: 32px;
            text-align: center;
            display: block;
            max-width:100%;
            max-height: 100%;
            width:  432px;
            height: 88px;
            color: #000;
            padding: 16px;
            border: 1px solid #DCDCDC;
            font-weight: 700;
        }
        a:hover{
            transform: scale(1);
            border-bottom: 8px solid $primary;
        } 
        .active2{
            color: $primary;
            border-bottom: 8px solid $primary;
        }
    }
}
.header-prodct{
    .banner1{
        background: url('/assets/images/product-header-1.png')no-repeat center /cover;
        width: 960px;
        height: 296px;
        display: inline-block;
    }
    .banner2{
        background: url('/assets/images/product-header-2.png')no-repeat center /cover;
        width: 960px;
        height: 296px;
        display: inline-block;
    }
    .banner3{
        background: url('/assets/images/product-header-3.png')no-repeat center /cover;
        width: 960px;
        height: 296px;
        display: inline-block;
    }
    .banner4{
        background: url('/assets/images/product-header-4.png')no-repeat center /cover;
        width: 960px;
        height: 296px;
        display: inline-block;
    }
}
.prodct{
    .d-flex{
        justify-content: center;
    }
    h5{
        font-size: 42px;
        text-align: center;
        color: #000;
    }
    p{
        font-size: 32px;
        text-align: center;
        margin-bottom: 32px;
        color: #000;
    }
    .squera-color:nth-child(1){
        border-radius: 4px;
        background-color: #5F3E2D;
        padding: 12px;
    }
    .glass-color{
        gap: 8px;
        display: inline-flex;
    }
    .squera-color:nth-child(2){
        border-radius: 4px;
        background-color: #B75929;
        padding: 12px;
    }
    .prodct-price{
        justify-content: space-between;
        span{
            font-size: 24px;
            color: $primary;
            font-weight: 700;
        }
    }
    .column{
        margin-bottom: 80px;
    }
    
}
.page{
    margin-bottom: 80px;
    .d-flex{
        justify-content: center;
    }
    a{
        color: #555555;
        border: 1px solid #555555;
    }
    .active{
        background-color: #9F1213;
        color: #fff;
    }
    .arr{
        font-size: 18px;
        padding: 12px 12px;    
    }
    .num{
        font-size: 18px;
        padding: 12px 16px;
    }
    .arr:hover{
        background-color: #F2F2F2;
    }
    .num:hover{
        background-color: #000;
        color: #fff;
    }

}
.blog{
    li{
        margin-bottom: 60px;
    }
    .article{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    span:nth-child(1){
        font-size: 1.25rem;
        color: $color-0;
    }
    span:nth-child(2){
        color:$color-0;
    }
    .smalltxt{
        justify-content: space-between;
        margin-bottom: 16px;
        display: flex;
    }
    p{
        font-size: 1.25rem;
        color:$color-2;
        display: inline-block;
    }
    h5{
        font-size:2rem ;
        color:$color-3;
    }
    .btn-more{
        margin-top: auto;
        text-align: right;
        color: $color-3;
        font-size: 36px;
        font-weight: 900; 
    } 
    .d-none{
        display: none;
    }
}
.blog-content{
    a{
        color: #000;
        display: inline-block;        
    }
    .a-color{
        color: $primary;
    }
    .content-menu{
        margin-top: 24px;
    }

    .tags{
        font-size: 24px;
        font-weight: bold; 
    }
    
    .content{
        flex-wrap: nowrap;
        gap: 24px;
        h2{
            font-weight: 500;
            margin-bottom: 0px;
            text-align: left;
            color: $color-0;    
        }
        .sub{
            font-size: 24px;
            color: $color-0;
            font-weight:700;
            display: inline-block;
            padding-bottom: 16px;
        }
        p{
            color: #555555;
            padding-top: 8px;
            padding-bottom: 40px;
        }
        a{
            color: $primary;
            margin-right: 24px;
        }
        
    }  
}
.navsearch{
    background-color: $color-3;
    .container{
        justify-content: space-between;
        align-items: center;
    }
    .d-flex{
        gap: 48px;
    }
    a{
        color: $color-1;
        font-size: 1.25rem;
        padding: 13px;
    }
    .material-symbols-outlined{
        font-size: 29px;
    }
}


