<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="nav-poudct">
        <div class="container">
            <ul class="d-flex">
                <li class="col-4">
                    <a href="prodct.html">OPTICAL</a>
                </li>
                <li class="col-4">
                    <a href="prodct2.html" class="active2">SUNGLASSES</a>
                </li>
                <li class="col-4">
                    <a href="#">FUNCTIONAL</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="header-prodct d-flex">
        <div class="banner3 col-6s"></div>  
        <div class="banner4 col-6s"></div>
    </section>
    <section class="prodct">
        <div class="container pe-40">
            <h5>Celluloid Combi</h5>
            <p>賽璐珞鈦金屬混合鏡框</p>
            <div class="row">
                <ul class=" d-flex">
                    <li class="column col-4 col-md-6 col-sm-12">
                        <img src="/assets/images/product-7.png" alt="">
                        <div class="prodct-price d-flex">
                            <h3>BJ41600S</h3>
                            <span>NTD3,490</span>
                        </div>
                        <div class="glass-color d-flex">
                            <div class="squera-color"></div>
                            <div class="squera-color"></div>
                        </div>
                    </li>
                    <li class="column col-4 col-md-6 col-sm-12">
                        <img src="/assets/images/product-8.png" alt="">
                        <div class="prodct-price d-flex">
                            <h3>BJ41600S</h3>
                            <span>NTD3,490</span>
                        </div>
                        <div class="glass-color d-flex">
                            <div class="squera-color"></div>
                            <div class="squera-color"></div>
                        </div>
                    </li>
                    <li class="column col-4 col-md-6 col-sm-12">
                        <img src="/assets/images/product-9.png" alt="">
                        <div class="prodct-price d-flex">
                            <h3>BJ41600S</h3>
                            <span>NTD3,490</span>
                        </div>
                        <div class="glass-color d-flex">
                            <div class="squera-color"></div>
                            <div class="squera-color"></div>
                        </div>
                    </li>
                    <li class="column col-4 col-md-6 col-sm-12">
                        <img src="/assets/images/product-10.png" alt="">
                        <div class="prodct-price d-flex">
                            <h3>BJ41600S</h3>
                            <span>NTD3,490</span>
                        </div>
                        <div class="glass-color d-flex">
                            <div class="squera-color"></div>
                            <div class="squera-color"></div>
                        </div>
                    </li>
                    <li class="column col-4 col-md-6 col-sm-12">
                        <img src="/assets/images/product-11.png" alt="">
                        <div class="prodct-price d-flex">
                            <h3>BJ41600S</h3>
                            <span>NTD3,490</span>
                        </div>
                        <div class="glass-color d-flex">
                            <div class="squera-color"></div>
                            <div class="squera-color"></div>
                        </div>
                    </li>
                    <li class="column col-4 col-md-6 col-sm-12">
                        <img src="/assets/images/product-12.png" alt="">
                        <div class="prodct-price d-flex">
                            <h3>BJ41600S</h3>
                            <span>NTD3,490</span>
                        </div>
                        <div class="glass-color d-flex">
                            <div class="squera-color"></div>
                            <div class="squera-color"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <%- include('./layout/page'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
