<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="store">
        <div class="container pe-40">
            <div class="row">
                <div class="column">
                    <h5 class="h5-title">門市據點</h5>
                    <div class="area-all">
                        <form action="">
                            <label for="area">選擇地區</label>
                            <select name="area" id="area" class="area">
                                <option value="台北市">台北市</option>
                                <option value="台中市">台中市</option>
                                <option value="台東市">台東市</option>
                            </select>
                        </form>
                    </div>  
                </div>
                <ul class="d-flex"> 
                    <li class="column col-4 col-md-6 col-sm-12 fd-column">
                        <img src="/assets/images/store-1.png" alt="store">
                        <h3 class="h3-title">台北中山旗艦店</h3>
                        <ul class="main-info">
                            <li>
                                <a href="tel:+020001234">
                                <span class="material-symbols-outlined ">call</span>電話：(02)000-1234
                                </a>
                            </li>
                            <li>
                                <span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00
                            </li>
                            <li>
                                <a href=""><span class="material-symbols-outlined">location_on</span>地址：台北市中山區南京東路25巷2-1號
                            </a>
                            </li>
                        </ul>
                        <a class="btn-more" href="store-map.html">詳細資訊</a>
                    </li>
                    <li class="column col-4 col-md-6 col-sm-12 fd-column">
                        <img src="/assets/images/store-2.png" alt="store">
                        <h3 class="h3-title">台北中山旗艦店</h3>
                        <ul class="main-info">
                            <li>
                                <a href="tel:+020001234">
                                <span class="material-symbols-outlined ">call</span>電話：(02)000-1234
                                </a>
                            </li>
                            <li>
                                <span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00
                            </li>
                            <li>
                                <a href=""><span class="material-symbols-outlined">location_on</span>地址：台北市中山區南京東路25巷2-1號
                            </a>
                            </li>
                        </ul>
                        <a class="btn-more" href="store-map.html">詳細資訊</a>
                    </li>
                    <li class="column col-4 col-md-6 col-sm-12 fd-column">
                        <img src="/assets/images/store-3.png" alt="store">
                        <h3 class="h3-title">台北中山旗艦店</h3>
                        <ul class="main-info">
                            <li>
                                <a href="tel:+020001234">
                                <span class="material-symbols-outlined ">call</span>電話：(02)000-1234
                                </a>
                            </li>
                            <li>
                                <span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00
                            </li>
                            <li>
                                <a href=""><span class="material-symbols-outlined">location_on</span>地址：台北市中山區南京東路25巷2-1號
                            </a>
                            </li>
                        </ul>
                        <a class="btn-more" href="store-map.html">詳細資訊</a>
                    </li>
                    <li class="column col-4 col-md-6 col-sm-12 fd-column">
                        <img src="/assets/images/store-4.png" alt="store">
                        <h3 class="h3-title">台北中山旗艦店</h3>
                        <ul class="main-info">
                            <li>
                                <a href="tel:+020001234">
                                <span class="material-symbols-outlined ">call</span>電話：(02)000-1234
                                </a>
                            </li>
                            <li>
                                <span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00
                            </li>
                            <li>
                                <a href=""><span class="material-symbols-outlined">location_on</span>地址：台北市中山區南京東路25巷2-1號
                            </a>
                            </li>
                        </ul>
                        <a class="btn-more" href="store-map.html">詳細資訊</a>
                    </li>
                    <li class="column col-4 col-md-6 col-sm-12 fd-column">
                        <img src="/assets/images/store-5.png" alt="store">
                        <h3 class="h3-title">台北中山旗艦店</h3>
                        <ul class="main-info">
                            <li>
                                <a href="tel:+020001234">
                                <span class="material-symbols-outlined ">call</span>電話：(02)000-1234
                                </a>
                            </li>
                            <li>
                                <span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00
                            </li>
                            <li>
                                <a href=""><span class="material-symbols-outlined">location_on</span>地址：台北市中山區南京東路25巷2-1號
                            </a>
                            </li>
                        </ul>
                        <a class="btn-more" href="store-map.html">詳細資訊</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
